<table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
  class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
  style="vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
  <tbody>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
          class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
          style="vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
          <tbody>
            <tr>
              <td width="150" style="vertical-align: middle;"><span class="template3__ImageContainer-sc-vj949k-0 jpHmCN"
                  style="margin-right: 20px; display: block;"><img
                    src="https://jonescogutters.com/Emails/ProfilePics/john_j.jpg" role="presentation" width="130"
                    class="image__StyledImage-sc-hupvqm-0 kYkhsl" style="max-width: 130px;"></span></td>
              <td style="vertical-align: middle;">
                <h2 color="#000000" class="name__NameContainer-sc-1m457h3-0 gsCpOr"
                  style="margin: 0px; font-size: 16px; color: rgb(0, 0, 0); font-weight: 600;">
                  <span>Johnathan</span><span>&nbsp;</span><span>Jones</span></h2>
                <p color="#000000" font-size="small" class="job-title__Container-sc-1hmtp73-0 hWtcow"
                  style="margin: 0px; color: rgb(0, 0, 0); font-size: 12px; line-height: 20px;"><span>Co-Founder &amp;
                    CEO</span></p>
                <p color="#000000" font-size="small" class="company-details__CompanyContainer-sc-j5pyy8-0 eYVggq"
                  style="margin: 0px; font-weight: 500; color: rgb(0, 0, 0); font-size: 12px; line-height: 20px;">
                  <span>JonesCo Seamless Gutter Systems</span></p>
                <p color="#000000" font-size="small" class="custom-field__CustomFieldContainer-sc-190n2f-0 cyamxt"
                  style="color: rgb(0, 0, 0); margin: 0px; font-size: 12px; line-height: 20px;"><span>We do it right,
                    the first time. 💪 </span></p>
              </td>
              <td width="30">
                <div style="width: 30px;"></div>
              </td>
              <td color="#23D237" direction="vertical" width="1" height="auto"
                class="color-divider__Divider-sc-1h38qjv-0 icFEOy"
                style="width: 1px; border-bottom: none; border-left: 1px solid rgb(35, 210, 55);"></td>
              <td width="30">
                <div style="width: 30px;"></div>
              </td>
              <td style="vertical-align: middle;">
                <table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
                  class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
                  style="vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
                  <tbody>
                    <tr height="25" style="vertical-align: middle;">
                      <td width="30" style="vertical-align: middle;">
                        <table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
                          class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
                          style="vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom;"><span color="#23D237" width="11"
                                  class="contact-info__IconWrapper-sc-mmkjr6-1 brbfIW"
                                  style="display: inline-block; background-color: rgb(35, 210, 55);"><img
                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png"
                                    color="#23D237" alt="mobilePhone" width="13"
                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 kInyhW"
                                    style="display: block; background-color: rgb(35, 210, 55);"></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px; color: rgb(0, 0, 0);"><a href="tel:14239007901" color="#000000"
                          class="contact-info__ExternalLink-sc-mmkjr6-2 dExxuU"
                          style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>14239007901</span></a>
                        | <a href="tel:18632243122" color="#000000"
                          class="contact-info__ExternalLink-sc-mmkjr6-2 dExxuU"
                          style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>18632243122</span></a>
                      </td>
                    </tr>
                    <tr height="25" style="vertical-align: middle;">
                      <td width="30" style="vertical-align: middle;">
                        <table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
                          class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
                          style="vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom;"><span color="#23D237" width="11"
                                  class="contact-info__IconWrapper-sc-mmkjr6-1 brbfIW"
                                  style="display: inline-block; background-color: rgb(35, 210, 55);"><img
                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png"
                                    color="#23D237" alt="emailAddress" width="13"
                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 kInyhW"
                                    style="display: block; background-color: rgb(35, 210, 55);"></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px;"><a href="mailto:nathan@jonescogutters.com" color="#000000"
                          class="contact-info__ExternalLink-sc-mmkjr6-2 dExxuU"
                          style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>nathan@jonescogutters.com</span></a>
                      </td>
                    </tr>
                    <tr height="25" style="vertical-align: middle;">
                      <td width="30" style="vertical-align: middle;">
                        <table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
                          class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
                          style="vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom;"><span color="#23D237" width="11"
                                  class="contact-info__IconWrapper-sc-mmkjr6-1 brbfIW"
                                  style="display: inline-block; background-color: rgb(35, 210, 55);"><img
                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png"
                                    color="#23D237" alt="website" width="13"
                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 kInyhW"
                                    style="display: block; background-color: rgb(35, 210, 55);"></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px;"><a href="//JonesCoGutters.com" color="#000000"
                          class="contact-info__ExternalLink-sc-mmkjr6-2 dExxuU"
                          style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span>JonesCoGutters.com</span></a>
                      </td>
                    </tr>
                    <tr height="25" style="vertical-align: middle;">
                      <td width="30" style="vertical-align: middle;">
                        <table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
                          class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
                          style="vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
                          <tbody>
                            <tr>
                              <td style="vertical-align: bottom;"><span color="#23D237" width="11"
                                  class="contact-info__IconWrapper-sc-mmkjr6-1 brbfIW"
                                  style="display: inline-block; background-color: rgb(35, 210, 55);"><img
                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/address-icon-2x.png"
                                    color="#23D237" alt="address" width="13"
                                    class="contact-info__ContactLabelIcon-sc-mmkjr6-0 kInyhW"
                                    style="display: block; background-color: rgb(35, 210, 55);"></span></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td style="padding: 0px;"><span color="#000000" class="contact-info__Address-sc-mmkjr6-3 jomBme"
                          style="font-size: 12px; color: rgb(0, 0, 0);"><span>Parrottsville, TN</span></span></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
          class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
          style="width: 100%; vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
          <tbody>
            <tr>
              <td height="30"></td>
            </tr>
            <tr>
              <td color="#23D237" direction="horizontal" width="auto" height="1"
                class="color-divider__Divider-sc-1h38qjv-0 icFEOy"
                style="width: 100%; border-bottom: 1px solid rgb(35, 210, 55); border-left: none; display: block;"></td>
            </tr>
            <tr>
              <td height="30"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
          class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
          style="width: 100%; vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
          <tbody>
            <tr>
              <td style="vertical-align: top;"><img src="https://jonescogutters.com/JC/JonesCo.png" role="presentation"
                  width="130" class="image__StyledImage-sc-hupvqm-0 kYkhsl"
                  style="display: inline-block; max-width: 130px;"></td>
              <td style="text-align: right; vertical-align: top;">
                <table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
                  class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
                  style="display: inline-block; vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
                  <tbody>
                    <tr style="text-align: right;">
                      <td><a href="https://www.facebook.com/people/JonesCo-Seamless-Gutter-Systems/61558126626290/"
                          color="#0066CC" class="social-links__LinkAnchor-sc-py8uhj-2 eycpzl"
                          style="display: inline-block; padding: 0px; background-color: rgb(0, 102, 204);"><img
                            src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png"
                            alt="facebook" color="#0066CC" width="24" class="social-links__LinkImage-sc-py8uhj-1 eJRoSc"
                            style="background-color: rgb(0, 102, 204); max-width: 135px; display: block;"></a></td>
                      <td width="5">
                        <div></div>
                      </td>
                      <td><a href="https://twitter.com/JonesCoGutters" color="#0066CC"
                          class="social-links__LinkAnchor-sc-py8uhj-2 eycpzl"
                          style="display: inline-block; padding: 0px; background-color: rgb(0, 102, 204);"><img
                            src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/twitter-icon-2x.png"
                            alt="twitter" color="#0066CC" width="24" class="social-links__LinkImage-sc-py8uhj-1 eJRoSc"
                            style="background-color: rgb(0, 102, 204); max-width: 135px; display: block;"></a></td>
                      <td width="5">
                        <div></div>
                      </td>
                      <td><a href="https://www.instagram.com/jonesco.gutters/" color="#0066CC"
                          class="social-links__LinkAnchor-sc-py8uhj-2 eycpzl"
                          style="display: inline-block; padding: 0px; background-color: rgb(0, 102, 204);"><img
                            src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/instagram-icon-2x.png"
                            alt="instagram" color="#0066CC" width="24"
                            class="social-links__LinkImage-sc-py8uhj-1 eJRoSc"
                            style="background-color: rgb(0, 102, 204); max-width: 135px; display: block;"></a></td>
                      <td width="5">
                        <div></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" border="0" globalstyles="[object Object]"
          class="table__StyledTable-sc-1avdl6r-0 gZiJTA"
          style="width: 100%; vertical-align: -webkit-baseline-middle; font-size: small; font-family: Verdana;">
          <tbody>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              
              <td style="text-align: right;"><span style="display: block; text-align: right;"><a target="_blank"
                    rel="noopener noreferrer"
                    href="https://clienthub.getjobber.com/booking/cfb34696-fc96-46da-87a4-b54410c83f3b" isimage=""
                    color="#0066CC" textcolor="#ffffff" alignment="right" class="cta__CtaButton-sc-sq0d6i-0 ccnqLe"
                    style="border-width: 6px 12px; border-style: solid; border-color: rgb(0, 102, 204); display: inline-block; background-color: rgb(0, 102, 204); color: rgb(255, 255, 255); font-weight: 700; text-decoration: none; text-align: center; line-height: 40px; font-size: 12px; border-radius: 3px;">Book
                    Your Free Estimate Today! 😎</a></span></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>